 @import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Neonderthaw&display=swap');

 html {
    background-color: white;
}

#userProfile {
    text-align: right;
    background-color: pink;
}

#userProfile li {
    list-style: none;
    display:inline;
    flex-direction: row;
    margin:0 20px 0 20px;
    font-size: smaller;
    text-transform: bold;
    font-weight: bolder;
}

#userProfile li a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}

#userProfile li a:hover{
    color:grey;
    opacity: .3;
}

#topNavBar {
    font-family:Georgia, 'Times New Roman', Times, serif;
    height:60px;
    display:flex;
    flex-direction: row;
    color:black;
    background-image: linear-gradient(to right, rgb(253, 169, 183), hotpink, #f862a1, hotpink,rgb(253, 169, 183));
    opacity: .95;
    border-radius: 20px;
    margin: 100px 0 0 0;
}

#topNavBar a img {
    margin-left: 100px;
}

#logo {
    width:50px;
    height:50px;
    margin-left: 5%;
}

 .nav-links {
    margin: 7px 0 10px 0;
    border-radius: 15px;
    padding: 13px 0 10px 0;
    font-size: large;
    margin-left:150px;
}

.nav-links li {
    list-style: none;
    display: inline;
    padding-left: 32px;
    text-transform: bold;
    font-weight: bolder;
    margin: 0 50px 0 80px;
   
    border-radius: 10px;
}

.nav-links li a {
    color : black;
    background-color: rgba(224, 28, 241, 0.404);
    border:rgba(252, 43, 200, 0.836) solid 5px;
    text-decoration:none;
    border-radius: 20px;
    padding: 5px;
}

.nav-links li a:hover { 
    color: hotpink;
    background-color: white;
} 

body{ 
    background-image: url('/repo/rfc_bg.jpg');
    background-repeat: repeat;
    background-size: fixed;
}

content {
    margin: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1ch; */
    background-color: rgb(255, 251, 0);
    border-radius: 5px;
}

content :hover {
    color:red;
    opacity: .5;
    transform:scale(1.1);
    
}

.event-container {
    flex-flow: row wrap;
    justify-content:space-around;
    background-color: rgba(255, 80, 162, 0.753);
}

.event-container .events {
    border-radius: 15px;
    margin: 150px 0 50px 0;

}

#leftEventBar {
    height:400px;
    width:400px;
    background-color: red;    
}

#middleEventBar {
    height:400px;
    width:400px;
    background-color: blue;    
}

#rightEventBar {
    height:400px;
    width:400px;
    background-color: green;    
}

#bottomEventBar {
    height:400px;
    width:400px;
    background-color: yellow;    
}

#bottomLeftEventBar {
    height:400px;
    width:400px;
    background-color: pink;    
}

#bottomRightEventBar {
    height:400px;
    width:400px;
    background-color: orange;    
}

#bottomMidEventBar {
    height:400px;
    width:400px;
    background-color: purple;    
}

footer {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(253, 169, 183), hotpink, #f862a1, hotpink,rgb(253, 169, 183));
    border-radius: 10px;
    /* font-family: 'Lobster'; */
}